services:
  # PostgreSQL database service
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - internal

  # Django website service
  website:
    build:
      context: ./backend  # Build Django from the backend folder
      dockerfile: Dockerfile  # Dockerfile for Django backend
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      DEBUG: 'False'
      SECRET_KEY: ${SECRET_KEY}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: postgres
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - staticfiles:/app/staticfiles
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - internal
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/staticfiles:/app/staticfiles:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - website
    restart: unless-stopped
    networks:
      - internal
      - external
networks:
  internal:
  external:

volumes:
  postgres_data:
  staticfiles: