.contact-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.contact-container p {
  margin: 0.5rem 0;
  color: var(--cashmere);
}

.contact-details {
  background-color: var(--wool);
  max-width: 400px;
  width: 90%;
  margin-top: 1.5rem;
}

.contact-details p {
  color: var(--walnut);
}

.contact-details a {
  color: var(--walnut);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.contact-details a:hover {
  text-decoration: underline;
  color: var(--black-coffee);
}
