.step-guide {
  display: flex;
  overflow-y: auto;
  height:100vh;
}

.sidebar {
  margin-right: 20px;
}

.pattern-steps {
  display: flex;
  flex-direction: column;
  margin-top: var(--navbar-height);
}

.pattern-step {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.inactive-step {
    opacity: 0.5;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 50px;
  height: 50px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #333;
  border: 1px solid #ccc;
}

.highlight {
  background-color: rgba(255, 223, 0, 0.3);
}
