/* Styling for the entire page */
.pattern-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  height: 100vh; /* Take up the full viewport height */
  overflow-y: auto; /* Ensure scrolling is enabled */
  box-sizing: border-box;
  background-color: #404040;
}

.pattern-card-wrapper {
  transform-origin: top center; /* Ensures scaling starts from the top-left corner */
  width: 50%;
}

/* Styling for the individual cards */
.pattern-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 800px; /* Max width to limit the card size */
  margin: 20px 0; /* Space between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
}

/* Flex container for each label-input pair */
.input-group {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  align-self: center;
  justify-content: space-between;
}

/* Styling for the label */
.input-group label {
  flex-basis: 200px; /* Adjust label width */
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
}

/* Styling for the input field */
.input-group input, .input-group select, .input-group textarea {
  flex-grow: 1;
  flex-basis: 150px;
  max-width: 325px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}

.input-checkbox-group {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  align-self: center;
  justify-content: space-between;
}

.input-checkbox-group label {
    flex-basis: 50px; /* Adjust label width */
    margin-right: 1px;
    font-weight: bold;
}

.input-checkbox-group input {
  flex-grow: 1;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: auto;
}

/* Add some styles for responsiveness */
@media (max-width: 768px) {
  .pattern-card {
    width: 95%; /* Make the card take more width on smaller screens */
  }
  .pattern-card-wrapper {
    width: 100%;
  }

  .input-group label,
  .input-group input,
  .input-group select,
  .input-group textarea {
    font-size: 0.9rem;
  }
}

/* loading things */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loading-overlay p {
  color: #fff;
  margin-top: 20px;
  font-size: 1.2em;
}

/* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}