/* Vars */
:root {
  --sidebar-width: 250px; /* Default sidebar width */
  --navbar-height: 60px; /* Default navbar height */
  --toolbox-width: 60px; /* Width of the toolbox */
}

/* App Container */
html, body, #root{
  overflow: hidden;
  background-color: var(--cream);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Wrapper for page content */
#wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

/* Adjust content to account for the dynamic sidebar width */
.content {
  flex: 1;
  margin-left: 0;
  width: 100%;
  background-color: var(--cream);
  height: 100%;
  overflow: hidden;
  transition: margin-left 0.3s ease;
}

