/* Vars */
:root {
  --sidebar-width: 250px; /* Default sidebar width */
  --navbar-height: 60px; /* Default navbar height */
  --toolbox-width: 60px; /* Width of the toolbox */
}

/* App Container */
html, body, #root{
  overflow: hidden; /* Prevent scrolling */
  background-color: black;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it takes the full viewport height */
  width: 100vw;
  overflow: hidden; /* Prevent any overflow causing scrolling */
}

/* Wrapper for page content below the navbar */
#wrapper {
  padding-top: var(--navbar-height); /* Use the dynamic navbar height */
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

/* Adjust content to account for the dynamic sidebar width */
.content {
  flex: 1;
  margin-left: var(--sidebar-width); /* Dynamically leave space for sidebar */
  width: calc(100% - var(--sidebar-width)); /* Adjust width based on sidebar */
  background-color: #f8f9fa;
  height: 100%; /* Adjust height based on navbar */
  overflow: hidden; /* Prevent scrolling */
  transition: margin-left 0.3s ease; /* Smooth transition when sidebar collapses */
}