/* Vars */
:root {
  --sidebar-width: 250px; /* Default sidebar width */
  --navbar-height: 60px; /* Default navbar height */
  --toolbox-width: 60px; /* Width of the toolbox */
}

/* App Container */
html, body, #root{
  overflow: hidden; /* Prevent scrolling */
  background-color: black;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it takes the full viewport height */
  width: 100vw;
  overflow: hidden; /* Prevent any overflow causing scrolling */
}

/* Wrapper for page content below the navbar */
#wrapper {
  padding-top: var(--navbar-height); /* Use the dynamic navbar height */
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

/* Adjust content to account for the dynamic sidebar width */
.content {
  flex: 1;
  margin-left: var(--sidebar-width); /* Dynamically leave space for sidebar */
  width: calc(100% - var(--sidebar-width)); /* Adjust width based on sidebar */
  background-color: #f8f9fa;
  height: 100%; /* Adjust height based on navbar */
  overflow: hidden; /* Prevent scrolling */
  transition: margin-left 0.3s ease; /* Smooth transition when sidebar collapses */
}

/* Page Container Styling */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7e4d0; /* Match soft, cozy background color */
    color: #8b5e3c; /* Knitting-theme brown */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
.page-container h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #8b5e3c; /* Knitting-theme color */
    margin-bottom: 1.5rem;
    font-family: 'Courier New', Courier, monospace; /* Consistent knitting theme font */
}